ngrok_authtoken
mp_access_token
MP_WEBHOOK_SECRET
MP_WEBHOOK_URL
VITE_API_URL
MP_PUBLIC_BASE_URL

# ngrok_authtoken=eso
# mp_access_token=mp_access_token
# MP_WEBHOOK_SECRET=secret_de_mp
# MP_WEBHOOK_URL=ngrok_dominio/webhooks/mercadopago
# VITE_API_URL=backend
# MP_PUBLIC_BASE_URL=ngrok_dominio
